body {
    background-image: url("../images/matrixBack.jpeg");
    background-size: cover;
    margin: 0;
    padding: 0;
}
    
    
#board {
    height: 100vh;
    position: relative; 
}
   
#score{
    font: bold;

}

#brain {
    background-image: url("../images/brain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
  }
    
    

.obstacle{
    position: absolute;
   
}

