body {
    background-image: url("backgroundImageMatrix.jpg");
    margin: 0;
    padding: 0;
}
    
    
#board {
        background-color: rgb(68, 232, 22);
        height: 100vh;
        position: relative; 
}
    
#player {
        background-color: rgb(13, 30, 221);
        position: absolute; 
    
}